<form action="#" th:action="@{/home/addCredential}" method="POST" >
    <input type="hidden" name="credentialId" th:value = "${id}" id="credential-id">
    <div class="form-group">
        <label for="credential-url" class="col-form-label">URL</label>
        <input type="text" name= "url" th:value="${url}" class="form-control" id="credential-url" maxlength="100" required>
    </div>
    <div class="form-group">
        <label for="credential-username" class="col-form-label">Username</label>
        <input type="text" name= "username" th:value="${username}" class="form-control" id="credential-username" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="credential-password" class="col-form-label">Password</label>
        <input type="text" name= "password" th:value="${password}" class="form-control" id="credential-password" maxlength="30" required>
    </div>
    <input type="hidden" name="key" th:value = "${key}" id="credential-key">
    <button id="credentialSubmit" type="submit" class="d-none"></button>
</form>